**/.DS_Store
.env
.env.example
.eslintrc
.git
.gitignore
.node-version
.nvmrc
.ruby-version
.vscode
Capfile
Gemfile
Gemfile.lock
aws_deployment.dev
aws_deployment.stg
aws_deployment.prd
codeship.aes
config/
dockercfg
log/*
node_modules